body {
  font-family: 'Hind Siliguri', sans-serif;
}

a {
  /* text-decoration: none; */
}

a:hover {
  color: gold;
}

nav {
  height: 3em;
  width: 100%;
  background-color: black;
}

nav a {
  font-size: 2em;
  text-decoration: none;
  color: white;
}

.name{
  display: inline-block;
  float: left;
  /* width: 50%; */
  padding: .5em;
}

.links{
  display: inline-block;
  float: right;
  padding: .5em;
  /* width: 50%; */
}
