body {
  font-family: 'Hind Siliguri', sans-serif;
}

a {
  /* text-decoration: none; */
}

a:hover {
  color: gold;
}

nav {
  height: 3em;
  width: 100%;
  background-color: black;
}

nav a {
  font-size: 2em;
  text-decoration: none;
  color: white;
}

.name{
  display: inline-block;
  float: left;
  padding: .5em;
}

.links{
  display: inline-block;
  float: right;
  padding: .5em;
}

.hero {
  position: relative;
  height: 25em;
  width: 100%;
  background-image: url('../img/hero.jpg');
  background-position: center;
  background-size: contain;
}

.hero h1{
  position: absolute;
  color: white;
  top: 40%;
  left: 40%;
  font-size: 50px;
}

.html-class {
  float: right;
  display: inline-block;
}

.css {
  float: right;
  display: inline-block;
}
