@import url('https://fonts.googleapis.com/css?family=Alike+Angular|Asul|Concert+One|Cormorant+Garamond|Eczar|Fruktur|Gentium+Basic|Kavoon|Libre+Baskerville|Libre+Franklin|Neuton|Proza+Libre|Rubik|Space+Mono|Taviraj|Tillana|Trirong|Work+Sans');
body{
  padding-left:150px;
  padding-right:350px;
}
h1 {font-family: 'Libre Baskerville';
    font-size: 45px;
}
h2 {
  font-family: 'Libre Franklin'
}
h3 {
  font-family: 'Libre Franklin';
  font-size: 20px;
  font-weight: bolder;
}
.job-title {
  font-family:'Libre Baskerville';
  font-size: 18px;
  font-weight: lighter;
}
.company {
font-family: 'Libre Baskerville';
color: gray;
}
p {
  font-family: 'Libre Baskerville';
  font-size: 14px;

}
.desc-list {
font-family: 'Libre Baskerville';
font-size: 14px;
}
