body {
  padding: 0 150px;
}

h1 {
  border: 20px solid black;
}

header {
  font-size: 50px;
  background-color: fuchsia;
  color: lime;
}

p {
  display: inline-block;
  margin-top: 20px;
  margin-right: 10px;
  padding-left: 15px;
  border-left: 5px dotted black;
  width: 40%;
  float: left;
}
